body{
    margin: 0;
    padding:0;
    color: #3a3e63;
    font-family: "Roboto","Segoe UI",Tahoma,Helvetica,"Open Sans",arial,serif;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    position: fixed;
    width: 210px;
    bottom: 0;
    left: 0;
    height:100%;
    background: #f6f9fc;
    transition: all 0.2s ease-in-out;
    top: 0px;
    border-right: 1px solid #d6d6d6;
    box-shadow: none;
    z-index: 100;
  }

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #ffff;
    height: 100px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.7);
}
.logo-img {
    display: block;
}
.logo-img img {
    width: 175px; /* Set the desired width */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
}
.accord-button{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
    overflow-anchor: none;
    padding: 10px 15px;
    font-size: .9rem !important;
    width: 100%;
    border-bottom: 1px solid rgba(238, 238, 238, 0.7);
}
i.fa-solid:first-child{
    width: 35px;
    opacity: 0.8;
}
.fa-chevron-down, i.fa-filter {
    margin-left: auto; /* This pushes the icon to the right. */
}
.fa-chevron-down{ /*  */
    font-size: 10px;
}
.accord-body{
    display: block;
    font-size: 11px;
    line-height: 20px !important;
    font-weight: 500;
    color: #3a3b6c;
    position: relative;
    border-bottom: 1px solid rgba(238, 238, 238, .50); 
    background: #f6f9fc;
    width: 100%;
}
.accord-body >li {
    list-style: none;
    padding:0 1.25em;
    padding: 10px 30px;
    border-bottom: 1px solid rgba(238, 238, 238, .50); 
 
}
.accord-body > li a{
    color: #212529;
    text-decoration: none;
}

.accord-body li:first-child{
    box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.1);
}
.accord-body li:last-child{
    box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.1);
}

.fa-lg {
    font-size: 1.5em;
    line-height: 1.5em !important;
}
.apps-filter > i:first-child, i:last-child{
    color: green;
}

.rotateup{
    transform: rotate(180deg);
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }
.rotatedown{
    transform: rotate(0deg);
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}
